
<div id="home">
  <div class="menu">
    <div class="play image-fader">
      <img src="images/interface/buttonPlay.png">
      <img src="images/interface/buttonPlayOver.png">
    </div>
    <div class="songs image-fader">
      <img src="images/interface/buttonSongs.png">
      <img src="images/interface/buttonSongsOver.png">
    </div>
    <div class="photos image-fader">
      <img src="images/interface/buttonPhotos.png">
      <img src="images/interface/buttonPhotosOver.png">
    </div>
    <div class="linernotes image-fader">
      <img src="images/interface/buttonLinerNotes.png">
      <img src="images/interface/buttonLinerNotesOver.png">
    </div>
  </div>
</div>
