
<div id="linernotes">
  <!-- navigation buttons -->
  <div class="buttons">
    <div class="home image-fader">
      <img src="images/interface/buttonHome.png">
      <img src="images/interface/buttonHomeOver.png">
    </div>
  </div>
    <div class="scrollgroup">
    <div class="linernotes-content"
    <div style="height:3000px;">
      <img src="images/linernotes/text01.png" width="1279" height="689"/>
      <img src="images/linernotes/text02.png" width="1279" height="689"/>
      <img src="images/linernotes/text03.png" width="1279" height="689"/>
      <img src="images/linernotes/text04.png" width="1279" height="689"/>
      <img src="images/linernotes/text05.png" width="631" height="271"/>
    <div>
      <div>
    