#home {
  background-image: url("../images/home/background.jpg");
}

/* Menu */

.menu {
  position: absolute;
  left: 100px;
}

.menu > .play {
  top: 595px;
  left: 140px;
}

.menu > .songs {
  top: 640px;
  left: 130px;
}

.menu > .photos {
  top: 517px;
  left: 835px;
}

.menu > .linernotes {
  top: 557px;
  left: 835px;
}

